In [409]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
import pandas_profiling as pp
from sklearn.linear_model import Lasso, Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV,GridSearchCV
import xgboost
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [410]:
pd.set_option('display.max_columns', 1000)

In [411]:
def onehotencode(data,col_name,prefix):
    return pd.concat([data, pd.get_dummies(data[col_name], prefix=prefix)],axis=1)

In [412]:
def encode_total_stops(data):
    data['Encoded_stops'] = 0.0
    for i in range(0,len(data['Total_Stops'])):
        if data.loc[i, 'Total_Stops'] == '1 stop':
            data.loc[i,'Encoded_stops'] = 0.1
        elif data.loc[i, 'Total_Stops'] == '2 stops':
            data.loc[i,'Encoded_stops'] = 0.2
        elif data.loc[i, 'Total_Stops'] == '3 stops':
            data.loc[i,'Encoded_stops'] = 0.3
        elif data.loc[i, 'Total_Stops'] == '4 stops':
            data.loc[i,'Encoded_stops'] = 0.4
        elif data.loc[i, 'Total_Stops'] == 'non-stop':
            data.loc[i,'Encoded_stops'] = 0.0

    return data

In [413]:
def extract_journey_data(data):
    data['Journey_Month'] = pd.DataFrame(pd.to_datetime(data['Date_of_Journey'], format='%d/%m/%Y').dt.month)
    data['Journey_day_of_week'] =  pd.DataFrame(((pd.to_datetime(data['Date_of_Journey'], format='%d/%m/%Y').dt.dayofweek)).astype('int'))
    data['Journey_over_weekend'] =  pd.DataFrame(((pd.to_datetime(data['Date_of_Journey'], format='%d/%m/%Y').dt.dayofweek) // 5).astype('int'))

    
    return data

In [414]:
def encode_duration(data):
    data['Duration_Type'] = 0
    for i in range(0, len(data)):
    
        split_len = data.loc[i,'Duration'].split(' ')
        if len(split_len) == 1:
            if str(data.loc[i,'Duration']).find('h') != -1:
#                print ("hours: ",data.loc[i,'Duration'])
                hours = int(split_len[0].replace('h',""))
                mins = 0
            else:
                hours = 4 
#                print ("mins: ",data.loc[i,'Duration']
                mins = int(split_len[0].replace('m',""))
        else:
            
            hours = int(split_len[0].replace('h',""))
            mins  = int(split_len[1].replace('m',""))
        
        data.loc[i,'Duration_Type'] = (hours*60 + mins)
        
    return data

In [415]:
'''
def encode_duration(data):
    data_copy['Duration_Type'] = 0
    for i in range(0, len(data)):
    
        try:
            val = int(str(data.loc[i,'Duration'].split('h')[0]))
        except:
            # this is for AirIndia for with flight duration as '5m', changing the duration
            #based on same row for AirIndia for same destination at same time with same stop overs.
            val = 4
            
       
        if val < 3:
            data.loc[i,'Duration_Type'] = 0.0
        elif val < 6:
            data.loc[i,'Duration_Type'] = 0.1
        elif val < 12:
            data.loc[i,'Duration_Type'] = 0.2
        else:
            data.loc[i,'Duration_Type'] = 0.3
        
    return data
'''

"\ndef encode_duration(data):\n    data_copy['Duration_Type'] = 0\n    for i in range(0, len(data)):\n    \n        try:\n            val = int(str(data.loc[i,'Duration'].split('h')[0]))\n        except:\n            # this is for AirIndia for with flight duration as '5m', changing the duration\n            #based on same row for AirIndia for same destination at same time with same stop overs.\n            val = 4\n            \n       \n        if val < 3:\n            data.loc[i,'Duration_Type'] = 0.0\n        elif val < 6:\n            data.loc[i,'Duration_Type'] = 0.1\n        elif val < 12:\n            data.loc[i,'Duration_Type'] = 0.2\n        else:\n            data.loc[i,'Duration_Type'] = 0.3\n        \n    return data\n"

In [416]:
'''
def flight_hours(data):
    data['Fly_Hours'] = 0
    
    data_Dep_Time = data['Dep_Time'].str.split(":",n=1,expand=True).astype('int64')
    data_Dep_Time.columns = ['Hours','Mins']
    for i in range(0,len(data)):
        
        val = data_Dep_Time.loc[i, 'Hours']
        
        if val == 0:
            data.loc[i,'Fly_Hours'] = 'Midnight'
        elif val >= 1 and val < 4:
            data.loc[i,'Fly_Hours'] = 'Early_Morning'
        elif val >= 4 and val < 6:
            data.loc[i,'Fly_Hours'] = 'Dawn'
        elif val >= 6 and val < 9:
            data.loc[i,'Fly_Hours'] = 'Morning'
        elif val >= 9 and val < 12:
            data.loc[i,'Fly_Hours'] = 'Mid_Morning'
        elif val >= 12 and val < 13:
            data.loc[i,'Fly_Hours'] = 'Noon'
        elif val >= 13 and val < 16:
            data.loc[i,'Fly_Hours'] = 'After_Noon'
        elif val >= 16 and val < 21:
            data.loc[i,'Fly_Hours'] = 'Evening'
        elif val >= 21 and val <= 23:
            data.loc[i,'Fly_Hours'] = 'Night'
            
    return data
'''

'\ndef flight_hours(data):\n    data[\'Fly_Hours\'] = 0\n    \n    data_Dep_Time = data[\'Dep_Time\'].str.split(":",n=1,expand=True).astype(\'int64\')\n    data_Dep_Time.columns = [\'Hours\',\'Mins\']\n    for i in range(0,len(data)):\n        \n        val = data_Dep_Time.loc[i, \'Hours\']\n        \n        if val == 0:\n            data.loc[i,\'Fly_Hours\'] = \'Midnight\'\n        elif val >= 1 and val < 4:\n            data.loc[i,\'Fly_Hours\'] = \'Early_Morning\'\n        elif val >= 4 and val < 6:\n            data.loc[i,\'Fly_Hours\'] = \'Dawn\'\n        elif val >= 6 and val < 9:\n            data.loc[i,\'Fly_Hours\'] = \'Morning\'\n        elif val >= 9 and val < 12:\n            data.loc[i,\'Fly_Hours\'] = \'Mid_Morning\'\n        elif val >= 12 and val < 13:\n            data.loc[i,\'Fly_Hours\'] = \'Noon\'\n        elif val >= 13 and val < 16:\n            data.loc[i,\'Fly_Hours\'] = \'After_Noon\'\n        elif val >= 16 and val < 21:\n            data.loc[i,\'Fly_Hours\'] = \'Evening\'\n        elif val >= 21 and val <= 23:\n            data.loc[i,\'Fly_Hours\'] = \'Night\'\n            \n    return data\n'

In [417]:
def flight_hours(data):
    data['Fly_Hours'] = 0
    
    data_Dep_Time = data['Dep_Time'].str.split(":",n=1,expand=True).astype('int64')
    data_Dep_Time.columns = ['Hours','Mins']
    for i in range(0,len(data)):
        
        hr = data_Dep_Time.loc[i, 'Hours']
        min = data_Dep_Time.loc[i, 'Mins']
        data.loc[i,'Fly_Hours'] = (hr*60 + (min))
            
    return data

In [418]:
def arrival_hours(data):
    data['Arrival_Hours'] = 0
    for i in range(0,len(data)):
      
        data_Arr_Time = data.loc[i,'Arrival_Time'].split(" ")[0]
        data_Dep_Time = data_Arr_Time.split(":")
        
        hr = int(data_Dep_Time[0])
        min = int(data_Dep_Time[1])
        data.loc[i,'Arrival_Hours'] = (hr*60 + (min))
            
    return data

In [419]:
def log_transform(data):
    return np.log10(data)

# Data cleaning and Modeling starts here

In [420]:
data = pd.read_excel('C:\\Users\\LENOVO\\Desktop\\Flight_Ticket_Participant_Datasets\\Data_Train.xlsx')

In [421]:
test = pd.read_excel('C:\\Users\\LENOVO\\Desktop\\Flight_Ticket_Participant_Datasets\\Test_set.xlsx')

In [422]:
data_copy = data
test_copy = test

In [423]:
data_copy.shape

(10683, 11)

In [424]:
data_copy.drop_duplicates(keep='first', inplace=True)

In [425]:
data_copy.shape

(10463, 11)

In [426]:
#Drop anamolies.
#data_copy = data_copy[data_copy['Price'] > data["Price"].quantile(0.01)]
#data_copy = data_copy[data_copy['Price'] < data["Price"].quantile(0.99)]
data_copy = data_copy[data_copy['Airline'] != 'Trujet']
data_copy = data_copy[data_copy['Additional_Info'] != 'Red-eye flight']

In [427]:
data_copy.loc[data_copy['Airline'] == 'Jet Airways Business','Airline'] = 'Jet Airways'
data_copy.loc[data_copy['Airline'] == 'Multiple carriers Premium economy','Airline'] = 'Multiple carriers'
data_copy.loc[data_copy['Airline'] == 'Vistara Premium economy','Airline'] = 'Vistara'

In [428]:
data_copy.loc[data_copy['Destination'] == 'New Delhi','Destination'] = 'Delhi'

In [429]:
data_copy.reset_index(inplace=True)

In [430]:
data_copy = data_copy[data_copy['Airline'] != 'Trujet']

In [431]:
data_copy = onehotencode(data_copy,'Airline',"Airline_")

In [432]:
data_copy.columns

Index(['index', 'Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'Airline__Air Asia', 'Airline__Air India',
       'Airline__GoAir', 'Airline__IndiGo', 'Airline__Jet Airways',
       'Airline__Multiple carriers', 'Airline__SpiceJet', 'Airline__Vistara'],
      dtype='object')

In [433]:
data_copy = onehotencode(data_copy,'Source',"Source_")

In [434]:
data_copy = onehotencode(data_copy,'Destination',"Destination_")

In [435]:
#handle No Info, No info values before one hot encoding.
data_copy.loc[data_copy['Additional_Info'] == 'No info','Additional_Info'] = 'No Info'
data_copy.loc[data_copy['Additional_Info'] == '1 Long layover','Additional_Info'] = 'Others'
data_copy.loc[data_copy['Additional_Info'] == '1 Short layover','Additional_Info'] = 'Others'
data_copy.loc[data_copy['Additional_Info'] == '2 Long layover','Additional_Info'] = 'Others'
data_copy.loc[data_copy['Additional_Info'] == 'Business class','Additional_Info'] = 'Others'
data_copy.loc[data_copy['Additional_Info'] == 'Change airports','Additional_Info'] = 'Others'


data_copy = onehotencode(data_copy,'Additional_Info',"Additional_Info_")

In [436]:
data_copy = encode_total_stops(data_copy)

In [437]:
data_copy = extract_journey_data(data_copy)

In [438]:
data_copy = encode_duration(data_copy)

In [439]:
data_copy = flight_hours(data_copy)

In [440]:
data_copy = arrival_hours(data_copy)

In [441]:
#data_copy = onehotencode(data_copy,'Fly_Hours',"Fly_Hours_")

In [442]:
data_final = data_copy

In [443]:
data_final.loc[data_final['Encoded_stops'].isnull(),'Encoded_stops'] = 0.3

In [444]:
data_final.drop(['Airline','Date_of_Journey','Source','Destination','Route','Dep_Time','Arrival_Time','Duration',
                'Total_Stops','Additional_Info'],axis=1,inplace=True)
#                'Total_Stops','Additional_Info','Fly_Hours'],axis=1,inplace=True)

In [445]:
data_final.drop(['index'],axis=1,inplace=True)

In [446]:
train_Feature = data_copy[[x for x in data_final.columns if (x != 'Price' and x != 'index')]]
train_Target = data_copy['Price']

In [447]:
train_Feature.columns

Index(['Airline__Air Asia', 'Airline__Air India', 'Airline__GoAir',
       'Airline__IndiGo', 'Airline__Jet Airways', 'Airline__Multiple carriers',
       'Airline__SpiceJet', 'Airline__Vistara', 'Source__Banglore',
       'Source__Chennai', 'Source__Delhi', 'Source__Kolkata', 'Source__Mumbai',
       'Destination__Banglore', 'Destination__Cochin', 'Destination__Delhi',
       'Destination__Hyderabad', 'Destination__Kolkata',
       'Additional_Info__In-flight meal not included',
       'Additional_Info__No Info',
       'Additional_Info__No check-in baggage included',
       'Additional_Info__Others', 'Encoded_stops', 'Journey_Month',
       'Journey_day_of_week', 'Journey_over_weekend', 'Duration_Type',
       'Fly_Hours', 'Arrival_Hours'],
      dtype='object')

In [448]:
X_train, X_test, y_train, y_test = train_test_split(train_Feature, train_Target, test_size=0.30, random_state=101)

In [449]:
null_columns=X_train.columns[X_train.isnull().any()]
X_train[null_columns].isnull().sum()

Series([], dtype: float64)

In [450]:
X_train.head()

,Airline__Air Asia,Airline__Air India,Airline__GoAir,Airline__IndiGo,Airline__Jet Airways,Airline__Multiple carriers,Airline__SpiceJet,Airline__Vistara,Source__Banglore,Source__Chennai,Source__Delhi,Source__Kolkata,Source__Mumbai,Destination__Banglore,Destination__Cochin,Destination__Delhi,Destination__Hyderabad,Destination__Kolkata,Additional_Info__In-flight meal not included,Additional_Info__No Info,Additional_Info__No check-in baggage included,Additional_Info__Others,Encoded_stops,Journey_Month,Journey_day_of_week,Journey_over_weekend,Duration_Type,Fly_Hours,Arrival_Hours
6949,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0.0,6,4,0,90,835,925
8604,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0.0,6,6,1,170,1435,165
883,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0.1,5,3,0,690,450,1140
4116,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0.1,3,4,0,920,1320,800
5606,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0.1,6,3,0,540,600,1140

In [451]:
scaler = StandardScaler()

In [452]:
X_train = pd.DataFrame(scaler.fit_transform(X_train), columns=train_Feature.columns)

In [453]:
X_test =  pd.DataFrame(scaler.transform(X_test),columns=train_Feature.columns)

# Final Prediction on Test set starts here

In [454]:
test_copy.loc[test_copy['Airline'] == 'Jet Airways Business','Airline'] = 'Jet Airways'
test_copy.loc[test_copy['Airline'] == 'Multiple carriers Premium economy','Airline'] = 'Multiple carriers'
test_copy.loc[test_copy['Airline'] == 'Vistara Premium economy','Airline'] = 'Vistara'

In [455]:
test_copy.loc[test_copy['Destination'] == 'New Delhi','Destination'] = 'Delhi'

In [456]:
test_copy = onehotencode(test_copy,'Airline',"Airline_")

In [457]:
test_copy = onehotencode(test_copy,'Source',"Source_")

In [458]:
test_copy = onehotencode(test_copy,'Destination',"Destination_")

In [459]:
#handle No Info, No info values before one hot encoding.
test_copy.loc[test_copy['Additional_Info'] == 'No info','Additional_Info'] = 'No Info'
test_copy.loc[test_copy['Additional_Info'] == '1 Long layover','Additional_Info'] = 'Others'
test_copy.loc[test_copy['Additional_Info'] == '1 Short layover','Additional_Info'] = 'Others'
test_copy.loc[test_copy['Additional_Info'] == '1 Long layover','Additional_Info'] = 'Others'
test_copy.loc[test_copy['Additional_Info'] == 'Business class','Additional_Info'] = 'Others'
test_copy.loc[test_copy['Additional_Info'] == 'Change airports','Additional_Info'] = 'Others'

test_copy = onehotencode(test_copy,'Additional_Info',"Additional_Info_")

In [460]:
test_copy = encode_total_stops(test_copy)

In [461]:
test_copy = extract_journey_data(test_copy)

In [462]:
test_copy = encode_duration(test_copy)

In [463]:
test_copy = flight_hours(test_copy)

In [464]:
test_copy = arrival_hours(test_copy)

In [465]:
#test_copy = onehotencode(test_copy,'Fly_Hours',"Fly_Hours_")

In [466]:
test_final = test_copy

In [467]:
data_copy.head()

,Price,Airline__Air Asia,Airline__Air India,Airline__GoAir,Airline__IndiGo,Airline__Jet Airways,Airline__Multiple carriers,Airline__SpiceJet,Airline__Vistara,Source__Banglore,Source__Chennai,Source__Delhi,Source__Kolkata,Source__Mumbai,Destination__Banglore,Destination__Cochin,Destination__Delhi,Destination__Hyderabad,Destination__Kolkata,Additional_Info__In-flight meal not included,Additional_Info__No Info,Additional_Info__No check-in baggage included,Additional_Info__Others,Encoded_stops,Journey_Month,Journey_day_of_week,Journey_over_weekend,Duration_Type,Fly_Hours,Arrival_Hours
0,3897,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0.0,3,6,1,170,1340,70
1,7662,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0.2,5,2,0,445,350,795
2,13882,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0.2,6,6,1,1140,565,265
3,6218,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0.1,5,6,1,325,1085,1410
4,13302,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0.1,3,4,0,285,1010,1295

In [492]:
data_copy['Encoded_stops'].unique()

array([ 0. ,  0.2,  0.1,  0.3,  0.4])

In [468]:
test_final.drop(['Airline','Date_of_Journey','Source','Destination','Route','Dep_Time','Arrival_Time','Duration',
                'Total_Stops','Additional_Info'],axis=1,inplace=True)
#                'Total_Stops','Additional_Info','Fly_Hours'],axis=1,inplace=True)

In [469]:
test_final =  pd.DataFrame(scaler.transform(test_final),columns=test_final.columns)

In [470]:
test_final.columns

Index(['Airline__Air Asia', 'Airline__Air India', 'Airline__GoAir',
       'Airline__IndiGo', 'Airline__Jet Airways', 'Airline__Multiple carriers',
       'Airline__SpiceJet', 'Airline__Vistara', 'Source__Banglore',
       'Source__Chennai', 'Source__Delhi', 'Source__Kolkata', 'Source__Mumbai',
       'Destination__Banglore', 'Destination__Cochin', 'Destination__Delhi',
       'Destination__Hyderabad', 'Destination__Kolkata',
       'Additional_Info__In-flight meal not included',
       'Additional_Info__No Info',
       'Additional_Info__No check-in baggage included',
       'Additional_Info__Others', 'Encoded_stops', 'Journey_Month',
       'Journey_day_of_week', 'Journey_over_weekend', 'Duration_Type',
       'Fly_Hours', 'Arrival_Hours'],
      dtype='object')

In [471]:
train_Feature.columns

Index(['Airline__Air Asia', 'Airline__Air India', 'Airline__GoAir',
       'Airline__IndiGo', 'Airline__Jet Airways', 'Airline__Multiple carriers',
       'Airline__SpiceJet', 'Airline__Vistara', 'Source__Banglore',
       'Source__Chennai', 'Source__Delhi', 'Source__Kolkata', 'Source__Mumbai',
       'Destination__Banglore', 'Destination__Cochin', 'Destination__Delhi',
       'Destination__Hyderabad', 'Destination__Kolkata',
       'Additional_Info__In-flight meal not included',
       'Additional_Info__No Info',
       'Additional_Info__No check-in baggage included',
       'Additional_Info__Others', 'Encoded_stops', 'Journey_Month',
       'Journey_day_of_week', 'Journey_over_weekend', 'Duration_Type',
       'Fly_Hours', 'Arrival_Hours'],
      dtype='object')

In [472]:
test_final.shape

(2671, 29)

In [473]:
train_Feature.shape

(10461, 29)

In [474]:
y_train_log =  y_train.apply(log_transform)

In [475]:
y_test_log =  y_test.apply(log_transform)

## RandomSearch

In [476]:
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]

In [477]:
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

In [478]:
rf = RandomForestRegressor()

In [479]:
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, 
                               n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)

In [480]:
rf_random.fit(X_train, y_train_log)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:  6.6min
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed: 33.2min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed: 60.2min finished

RandomizedSearchCV(cv=3, error_score='raise',
          estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
          fit_params=None, iid=True, n_iter=100, n_jobs=-1,
          param_distributions={'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None], 'min_samples_leaf': [1, 2, 4], 'min_samples_split': [2, 5, 10], 'bootstrap': [True, False], 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]},
          pre_dispatch='2*n_jobs', random_state=42, refit=True,
          return_train_score=True, scoring=None, verbose=2)

In [481]:
rf_random.best_params_

{'bootstrap': True,
 'max_depth': 90,
 'max_features': 'auto',
 'min_samples_leaf': 1,
 'min_samples_split': 5,
 'n_estimators': 1600}

In [482]:
np.sqrt(mean_squared_log_error(y_test,10**rf_random.predict(X_test)))

0.17061153707435453

In [483]:
np.sqrt(mean_squared_log_error(y_train,10**rf_random.predict(X_train)))

0.10029211804366174

In [484]:
test_pred = 10**rf_random.predict(test_final)

In [485]:
test_pred = pd.DataFrame(test_pred,columns=['Price'])

In [486]:
test_pred.to_excel("C:/Users/LENOVO/Desktop/RF_Random_v1.xlsx",index=False)

In [487]:
test_copy.head()

,Airline__Air Asia,Airline__Air India,Airline__GoAir,Airline__IndiGo,Airline__Jet Airways,Airline__Multiple carriers,Airline__SpiceJet,Airline__Vistara,Source__Banglore,Source__Chennai,Source__Delhi,Source__Kolkata,Source__Mumbai,Destination__Banglore,Destination__Cochin,Destination__Delhi,Destination__Hyderabad,Destination__Kolkata,Additional_Info__In-flight meal not included,Additional_Info__No Info,Additional_Info__No check-in baggage included,Additional_Info__Others,Encoded_stops,Journey_Month,Journey_day_of_week,Journey_over_weekend,Duration_Type,Fly_Hours,Arrival_Hours
0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0.1,6,3,0,655,1050,265
1,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0.1,5,6,1,240,380,620
2,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0.1,5,1,0,1425,1155,1140
3,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0.1,5,1,0,780,480,1260
4,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0.0,6,0,0,170,1435,165

## Grid Search

In [249]:
param_grid = {
    'bootstrap': [True],
    'max_depth': [10,20,30,40,50],
    'max_features': [2,3],
    'min_samples_leaf': [3,4,5],
    'min_samples_split': [8,10,12],
    'n_estimators': [100,200,400,600,800]
}

In [250]:
rf = RandomForestRegressor()

In [251]:
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [252]:
grid_search.fit(X_train, y_train_log)

Fitting 3 folds for each of 450 candidates, totalling 1350 fits

[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:  4.4min
[Parallel(n_jobs=-1)]: Done 361 tasks      | elapsed: 10.2min
[Parallel(n_jobs=-1)]: Done 644 tasks      | elapsed: 18.8min
[Parallel(n_jobs=-1)]: Done 1009 tasks      | elapsed: 29.4min
[Parallel(n_jobs=-1)]: Done 1350 out of 1350 | elapsed: 39.5min finished

GridSearchCV(cv=3, error_score='raise',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'min_samples_split': [8, 10, 12], 'n_estimators': [100, 200, 400, 600, 800], 'max_depth': [10, 20, 30, 40, 50], 'max_features': [2, 3], 'min_samples_leaf': [3, 4, 5], 'bootstrap': [True]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=2)

In [253]:
grid_search.best_params_

{'bootstrap': True,
 'max_depth': 30,
 'max_features': 3,
 'min_samples_leaf': 3,
 'min_samples_split': 8,
 'n_estimators': 100}

In [254]:
y_pred_test = grid_search.predict(X_test)

In [255]:
y_pred_train = grid_search.predict(X_train)

In [256]:
np.sqrt(mean_squared_log_error(y_test,10**grid_search.predict(X_test)))

0.19301614193084143

In [257]:
np.sqrt(mean_squared_log_error(y_train,10**grid_search.predict(X_train)))

0.16380475526805166

In [258]:
test_pred = 10**grid_search.predict(test_final)

In [259]:
test_pred = pd.DataFrame(test_pred,columns=['Price'])

In [260]:
test_pred.to_excel("C:/Users/LENOVO/Desktop/RF_Grid_v1.xlsx",index=False)